## Preprocessing

In [21]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [22]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [23]:
# Print the DataFrame
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [24]:
# Determine the number of unique values in each column.
for column in application_df.columns:
    unique_values = application_df[column].nunique()
    print(f"{column}: {unique_values}")

APPLICATION_TYPE: 17
AFFILIATION: 6
CLASSIFICATION: 71
USE_CASE: 5
ORGANIZATION: 4
STATUS: 2
INCOME_AMT: 9
SPECIAL_CONSIDERATIONS: 2
ASK_AMT: 8747
IS_SUCCESSFUL: 2

In [25]:
#@title Default title text
# Look at APPLICATION_TYPE value counts for binning
print(application_df['APPLICATION_TYPE'].value_counts())

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [26]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
print(application_df['CLASSIFICATION'].value_counts())

In [27]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts[classification_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [28]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < 100].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [29]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [30]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
y

# drop 'IS SUCCESSFUL'
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
X

array([[       1,     5000,        0, ...,        0,        1,        0],
       [       1,   108590,        0, ...,        0,        1,        0],
       [       1,     5000,        0, ...,        0,        1,        0],
       ...,
       [       1,     5000,        0, ...,        0,        1,        0],
       [       1,     5000,        0, ...,        0,        1,        0],
       [       1, 36500179,        0, ...,        0,        1,        0]])

In [31]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [32]:
 X_train_scaled[0]

array([ 0.01394306, -0.03348439, -0.08918651, -0.12647487, -0.1803104 ,
       -1.93323172, -0.21721176, -0.18886807,  5.27316518, -0.14490076,
       -0.14712247,  1.08678841, -0.04500615, -1.07924659, -0.03180805,
       -0.00623504, -0.01972038, -0.01079982, -1.00913832, -0.4053369 ,
       -0.03416998, -0.00623504, -0.01763775, -0.00623504, -0.01527415,
       -0.01079982, -0.03055899, -0.00623504,  0.        , -0.00623504,
       -0.01870803,  0.        , -0.01394306, -0.00623504, -0.00623504,
       -0.05479325, -0.01870803, -0.03529198, -0.00623504, -0.04232513,
        0.        , -0.02991499, -0.02333528,  0.        , -0.00623504,
       -0.00881785, -0.09287679, -0.01394306, -0.00623504, -0.00623504,
       -0.02160343,  0.        , -0.00623504,  2.1506258 , -0.24198608,
       -0.00623504, -0.00623504, -0.00623504, -0.02991499, -0.00623504,
       -0.01394306, -0.00623504,  0.        , -0.00623504, -0.00623504,
       -0.05297923, -0.00881785, -0.05334691, -0.24360198,  0.        ,
       -0.00623504, -0.07581129, -0.01247081,  0.        , -0.00623504,
        0.        , -0.06056052, -0.00623504, -0.022486  , -0.00623504,
       -0.15134202, -0.04586527, -0.02160343, -0.03055899, -0.01527415,
       -0.02333528, -0.01870803,  0.        , -0.10807635, -0.06215637,
       -0.00881785, -2.13840836,  2.25801349, -0.65203708, -0.11744636,
       -0.033595  ,  0.67506919,  0.63795776, -0.14849557, -0.12694995,
       -0.32918556, -0.08347349, -0.16981325, -0.35186578, -0.06401969,
       -0.06987849,  0.02789425, -0.02789425])

In [37]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=8
hidden_nodes_layer2=16
hidden_nodes_layer3=24

nn = tf.keras.models.Sequential()

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))
# Third hidden layer
#nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='sigmoid'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 8)                 872

 dense_8 (Dense)             (None, 16)                144

 dense_9 (Dense)             (None, 1)                 17

=================================================================
Total params: 1,033
Trainable params: 1,033
Non-trainable params: 0
_________________________________________________________________

In [38]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [39]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 5s 5ms/step - loss: 0.6127 - accuracy: 0.6985 - val_loss: 0.5871 - val_accuracy: 0.7160
Epoch 2/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5662 - accuracy: 0.7314 - val_loss: 0.5763 - val_accuracy: 0.7204
Epoch 3/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5598 - accuracy: 0.7326 - val_loss: 0.5740 - val_accuracy: 0.7191
Epoch 4/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5546 - accuracy: 0.7330 - val_loss: 0.5689 - val_accuracy: 0.7181
Epoch 5/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5512 - accuracy: 0.7340 - val_loss: 0.5674 - val_accuracy: 0.7230
Epoch 6/100
684/684 [==============================] - 3s 5ms/step - loss: 0.5490 - accuracy: 0.7349 - val_loss: 0.5664 - val_accuracy: 0.7217
Epoch 7/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5480 - accuracy: 0.7358 - val_loss: 0.5667 - val_accuracy: 0.7217
Epoch 8/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5471 - accuracy: 0.7367 - val_loss: 0.5646 - val_accuracy: 0.7217
Epoch 9/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5464 - accuracy: 0.7362 - val_loss: 0.5651 - val_accuracy: 0.7227
Epoch 10/100
684/684 [==============================] - 3s 5ms/step - loss: 0.5452 - accuracy: 0.7362 - val_loss: 0.5668 - val_accuracy: 0.7207
Epoch 11/100
684/684 [==============================] - 4s 5ms/step - loss: 0.5450 - accuracy: 0.7360 - val_loss: 0.5658 - val_accuracy: 0.7194
Epoch 12/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5446 - accuracy: 0.7362 - val_loss: 0.5651 - val_accuracy: 0.7243
Epoch 13/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5442 - accuracy: 0.7357 - val_loss: 0.5637 - val_accuracy: 0.7212
Epoch 14/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5440 - accuracy: 0.7361 - val_loss: 0.5642 - val_accuracy: 0.7212
Epoch 15/100
684/684 [==============================] - 3s 5ms/step - loss: 0.5429 - accuracy: 0.7370 - val_loss: 0.5662 - val_accuracy: 0.7230
Epoch 16/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5430 - accuracy: 0.7360 - val_loss: 0.5642 - val_accuracy: 0.7240
Epoch 17/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5429 - accuracy: 0.7365 - val_loss: 0.5655 - val_accuracy: 0.7199
Epoch 18/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5421 - accuracy: 0.7374 - val_loss: 0.5650 - val_accuracy: 0.7235
Epoch 19/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5421 - accuracy: 0.7368 - val_loss: 0.5627 - val_accuracy: 0.7230
Epoch 20/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5415 - accuracy: 0.7377 - val_loss: 0.5637 - val_accuracy: 0.7207
Epoch 21/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5414 - accuracy: 0.7377 - val_loss: 0.5638 - val_accuracy: 0.7217
Epoch 22/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5413 - accuracy: 0.7380 - val_loss: 0.5652 - val_accuracy: 0.7238
Epoch 23/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5410 - accuracy: 0.7384 - val_loss: 0.5650 - val_accuracy: 0.7253
Epoch 24/100
684/684 [==============================] - 3s 5ms/step - loss: 0.5410 - accuracy: 0.7379 - val_loss: 0.5639 - val_accuracy: 0.7212
Epoch 25/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5405 - accuracy: 0.7378 - val_loss: 0.5650 - val_accuracy: 0.7258
Epoch 26/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5406 - accuracy: 0.7379 - val_loss: 0.5628 - val_accuracy: 0.7230
Epoch 27/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5399 - accuracy: 0.7383 - val_loss: 0.5648 - val_accuracy: 0.7232
Epoch 28/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5398 - accuracy: 0.7381 - val_loss: 0.5657 - val_accuracy: 0.7225
Epoch 29/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5399 - accuracy: 0.7382 - val_loss: 0.5646 - val_accuracy: 0.7251
Epoch 30/100
684/684 [==============================] - 2s 4ms/step - loss: 0.5394 - accuracy: 0.7384 - val_loss: 0.5659 - val_accuracy: 0.7243
Epoch 31/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5394 - accuracy: 0.7391 - val_loss: 0.5664 - val_accuracy: 0.7248
Epoch 32/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5392 - accuracy: 0.7376 - val_loss: 0.5650 - val_accuracy: 0.7219
Epoch 33/100
684/684 [==============================] - 3s 5ms/step - loss: 0.5389 - accuracy: 0.7384 - val_loss: 0.5661 - val_accuracy: 0.7240
Epoch 34/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5386 - accuracy: 0.7391 - val_loss: 0.5654 - val_accuracy: 0.7235
Epoch 35/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5388 - accuracy: 0.7391 - val_loss: 0.5663 - val_accuracy: 0.7196
Epoch 36/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5388 - accuracy: 0.7388 - val_loss: 0.5657 - val_accuracy: 0.7225
Epoch 37/100
684/684 [==============================] - 3s 5ms/step - loss: 0.5385 - accuracy: 0.7381 - val_loss: 0.5674 - val_accuracy: 0.7209
Epoch 38/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5382 - accuracy: 0.7391 - val_loss: 0.5649 - val_accuracy: 0.7232
Epoch 39/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5382 - accuracy: 0.7382 - val_loss: 0.5685 - val_accuracy: 0.7225
Epoch 40/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5380 - accuracy: 0.7389 - val_loss: 0.5689 - val_accuracy: 0.7240
Epoch 41/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5378 - accuracy: 0.7398 - val_loss: 0.5709 - val_accuracy: 0.7219
Epoch 42/100
684/684 [==============================] - 3s 5ms/step - loss: 0.5374 - accuracy: 0.7403 - val_loss: 0.5694 - val_accuracy: 0.7238
Epoch 43/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5377 - accuracy: 0.7386 - val_loss: 0.5702 - val_accuracy: 0.7217
Epoch 44/100
684/684 [==============================] - 2s 4ms/step - loss: 0.5376 - accuracy: 0.7400 - val_loss: 0.5703 - val_accuracy: 0.7217
Epoch 45/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5375 - accuracy: 0.7390 - val_loss: 0.5697 - val_accuracy: 0.7217
Epoch 46/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5374 - accuracy: 0.7388 - val_loss: 0.5719 - val_accuracy: 0.7222
Epoch 47/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5370 - accuracy: 0.7400 - val_loss: 0.5713 - val_accuracy: 0.7227
Epoch 48/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5373 - accuracy: 0.7392 - val_loss: 0.5715 - val_accuracy: 0.7240
Epoch 49/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5371 - accuracy: 0.7394 - val_loss: 0.5694 - val_accuracy: 0.7238
Epoch 50/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5371 - accuracy: 0.7388 - val_loss: 0.5725 - val_accuracy: 0.7219
Epoch 51/100
684/684 [==============================] - 3s 5ms/step - loss: 0.5368 - accuracy: 0.7394 - val_loss: 0.5707 - val_accuracy: 0.7232
Epoch 52/100
684/684 [==============================] - 2s 4ms/step - loss: 0.5371 - accuracy: 0.7399 - val_loss: 0.5723 - val_accuracy: 0.7245
Epoch 53/100
684/684 [==============================] - 2s 4ms/step - loss: 0.5366 - accuracy: 0.7381 - val_loss: 0.5731 - val_accuracy: 0.7227
Epoch 54/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5366 - accuracy: 0.7397 - val_loss: 0.5714 - val_accuracy: 0.7201
Epoch 55/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5367 - accuracy: 0.7404 - val_loss: 0.5713 - val_accuracy: 0.7219
Epoch 56/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5365 - accuracy: 0.7396 - val_loss: 0.5709 - val_accuracy: 0.7227
Epoch 57/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5367 - accuracy: 0.7391 - val_loss: 0.5716 - val_accuracy: 0.7225
Epoch 58/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5365 - accuracy: 0.7394 - val_loss: 0.5715 - val_accuracy: 0.7243
Epoch 59/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5363 - accuracy: 0.7403 - val_loss: 0.5731 - val_accuracy: 0.7243
Epoch 60/100
684/684 [==============================] - 3s 5ms/step - loss: 0.5364 - accuracy: 0.7406 - val_loss: 0.5739 - val_accuracy: 0.7243
Epoch 61/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5364 - accuracy: 0.7398 - val_loss: 0.5730 - val_accuracy: 0.7235
Epoch 62/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5359 - accuracy: 0.7393 - val_loss: 0.5767 - val_accuracy: 0.7225
Epoch 63/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5358 - accuracy: 0.7404 - val_loss: 0.5758 - val_accuracy: 0.7240
Epoch 64/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5362 - accuracy: 0.7398 - val_loss: 0.5753 - val_accuracy: 0.7230
Epoch 65/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5360 - accuracy: 0.7401 - val_loss: 0.5769 - val_accuracy: 0.7253
Epoch 66/100
684/684 [==============================] - 2s 4ms/step - loss: 0.5361 - accuracy: 0.7404 - val_loss: 0.5771 - val_accuracy: 0.7251
Epoch 67/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5357 - accuracy: 0.7404 - val_loss: 0.5753 - val_accuracy: 0.7235
Epoch 68/100
684/684 [==============================] - 2s 4ms/step - loss: 0.5359 - accuracy: 0.7405 - val_loss: 0.5768 - val_accuracy: 0.7240
Epoch 69/100
684/684 [==============================] - 3s 5ms/step - loss: 0.5355 - accuracy: 0.7406 - val_loss: 0.5781 - val_accuracy: 0.7188
Epoch 70/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5353 - accuracy: 0.7401 - val_loss: 0.5768 - val_accuracy: 0.7230
Epoch 71/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5356 - accuracy: 0.7409 - val_loss: 0.5787 - val_accuracy: 0.7212
Epoch 72/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5354 - accuracy: 0.7395 - val_loss: 0.5769 - val_accuracy: 0.7230
Epoch 73/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5353 - accuracy: 0.7405 - val_loss: 0.5774 - val_accuracy: 0.7178
Epoch 74/100
684/684 [==============================] - 3s 5ms/step - loss: 0.5353 - accuracy: 0.7403 - val_loss: 0.5782 - val_accuracy: 0.7207
Epoch 75/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5353 - accuracy: 0.7403 - val_loss: 0.5778 - val_accuracy: 0.7212
Epoch 76/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5352 - accuracy: 0.7399 - val_loss: 0.5764 - val_accuracy: 0.7214
Epoch 77/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5350 - accuracy: 0.7405 - val_loss: 0.5788 - val_accuracy: 0.7227
Epoch 78/100
684/684 [==============================] - 3s 5ms/step - loss: 0.5352 - accuracy: 0.7402 - val_loss: 0.5763 - val_accuracy: 0.7209
Epoch 79/100
684/684 [==============================] - 2s 4ms/step - loss: 0.5351 - accuracy: 0.7406 - val_loss: 0.5767 - val_accuracy: 0.7214
Epoch 80/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5350 - accuracy: 0.7398 - val_loss: 0.5756 - val_accuracy: 0.7230
Epoch 81/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5349 - accuracy: 0.7414 - val_loss: 0.5782 - val_accuracy: 0.7230
Epoch 82/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5350 - accuracy: 0.7405 - val_loss: 0.5783 - val_accuracy: 0.7222
Epoch 83/100
684/684 [==============================] - 3s 5ms/step - loss: 0.5350 - accuracy: 0.7405 - val_loss: 0.5777 - val_accuracy: 0.7212
Epoch 84/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5347 - accuracy: 0.7409 - val_loss: 0.5783 - val_accuracy: 0.7235
Epoch 85/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5350 - accuracy: 0.7406 - val_loss: 0.5774 - val_accuracy: 0.7209
Epoch 86/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5349 - accuracy: 0.7394 - val_loss: 0.5774 - val_accuracy: 0.7227
Epoch 87/100
684/684 [==============================] - 3s 5ms/step - loss: 0.5343 - accuracy: 0.7418 - val_loss: 0.5782 - val_accuracy: 0.7222
Epoch 88/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5344 - accuracy: 0.7410 - val_loss: 0.5771 - val_accuracy: 0.7209
Epoch 89/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5349 - accuracy: 0.7407 - val_loss: 0.5776 - val_accuracy: 0.7214
Epoch 90/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5346 - accuracy: 0.7413 - val_loss: 0.5807 - val_accuracy: 0.7222
Epoch 91/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5347 - accuracy: 0.7395 - val_loss: 0.5782 - val_accuracy: 0.7204
Epoch 92/100
684/684 [==============================] - 3s 5ms/step - loss: 0.5345 - accuracy: 0.7396 - val_loss: 0.5792 - val_accuracy: 0.7219
Epoch 93/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5344 - accuracy: 0.7406 - val_loss: 0.5792 - val_accuracy: 0.7199
Epoch 94/100
684/684 [==============================] - 2s 4ms/step - loss: 0.5344 - accuracy: 0.7407 - val_loss: 0.5782 - val_accuracy: 0.7214
Epoch 95/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5345 - accuracy: 0.7408 - val_loss: 0.5805 - val_accuracy: 0.7230
Epoch 96/100
684/684 [==============================] - 3s 5ms/step - loss: 0.5343 - accuracy: 0.7404 - val_loss: 0.5782 - val_accuracy: 0.7222
Epoch 97/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5344 - accuracy: 0.7414 - val_loss: 0.5805 - val_accuracy: 0.7183
Epoch 98/100
684/684 [==============================] - 2s 4ms/step - loss: 0.5343 - accuracy: 0.7406 - val_loss: 0.5814 - val_accuracy: 0.7207
Epoch 99/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5340 - accuracy: 0.7408 - val_loss: 0.5811 - val_accuracy: 0.7194
Epoch 100/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5344 - accuracy: 0.7411 - val_loss: 0.5802 - val_accuracy: 0.7201

In [40]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5662 - accuracy: 0.7251 - 511ms/epoch - 2ms/step
Loss: 0.5661646127700806, Accuracy: 0.7251312136650085

In [20]:
# Export our model to HDF5 file
from google.colab import files

nn.save('/content/AlphabetSoupCharity_Optimization.h5')
files.download('/content/AlphabetSoupCharity_Optimization.h5')